html {
  background-color: rgb(23, 23, 23);
}

a {
  color: slateblue;
}

body,
h1 {
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  top: 50px;
  right: 0;
  width: 100%;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-right: 1rem;
}

.nav-link {
  color: white;
  text-decoration: none;
}
